@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/CityExplorer.styles.css" asp-append-version="true" />

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="align-self: center;">
            @if (!string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.ProfilePicture))
            {
                <img style="width: 40px; height: 40px; object-fit: cover; border-radius: 30px" src="~/Uploads/@UserManager.GetUserAsync(User).Result.ProfilePicture">
            }
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark custom-nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark custom-nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark custom-nav-link" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark custom-nav-link" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>