@{
    ViewData["Title"] = "Home Page";
}
<link href="https://cdn.jsdelivr.net/npm/flowbite@1.0.0/dist/flowbite.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

<div class="flex justify-center">
    <div class="bg-gray-200 border-3 border-gray-900 text-gray rounded-lg shadow-lg p-4 w-5/6">
        <div class="flex items-center mb-4">
            <div class="w-1/2">
                <h1 class="text-4xl text-center font-bold">CityExplorer</h1>
                <p class="mt-3 text-center text-2xl font-semibold text-gray-700">Aplikacja społecznościowa pozwalająca zaplanować trasę zwiedzania miasta.</p>
            </div>
            <div class="w-1/2">
                <img src="/Image/travel3.jpg" alt="Image" class="w-full border-3 border-gray-900 h-auto rounded image-size">
            </div>
        </div>
        <div class="flex items-center mb-4">
            <div class="w-1/2 container-sm">
                <img src="/Image/travel1.jpg" alt="Image" class="w-full border-3 border-gray-900 h-auto rounded image-size" />
            </div>
            <div class="w-1/2">
                <h1 class="text-4xl text-center font-bold">1. Znajdź zabytki</h1>
                <p class="mt-2 text-2xl text-center font-semibold leading-loose text-gray-700">Znajdź zabytki, które chcesz odwiedzić.</p>
                <p class="mt-3 ml-3 text-center text-xl font-semibold text-gray-500">Korzystając z listy wszystkich zabytków, wybierz te które chcesz zobaczyć aby utworzyć nową listę</p>
            </div>
        </div>
        <div class="flex items-center mb-4">
            <div class="w-1/2">
                <h1 class="text-4xl text-center font-bold">2. Zaplanuj trasę</h1>
                <p class="mt-2 text-2xl text-center font-semibold leading-loose text-gray-700">Zaplanuj trasę zwiedzania miasta.</p>
                <p class="mt-3 mr-2 text-center text-xl font-semibold text-gray-500">Po dodaniu zabytków które cię interesują, możesz wyświetlić trasę zwiedzania miasta.</p>
            </div>
            <div class="w-1/2 container-sm">
                <img src="/Image/travel5.jpg" alt="Image" class="w-full border-3 border-gray-900 h-auto rounded image-size" />
            </div>
        </div>
        <div class="flex items-center mb-4">
            <div class="w-1/2 container-sm">
                <img src="/Image/travel2.jpg" alt="Image" class="w-full border-3 border-gray-900 h-auto rounded image-size" />
            </div>
            <div class="w-1/2">
                <h1 class="text-4xl text-center font-bold">3. Udostępnij trasę</h1>
                <p class="mt-2 text-2xl text-center font-semibold leading-loose text-gray-700">Udostępnij trasę innym użytkownikom.</p>
                <p class="mt-3 ml-3 text-center text-xl font-semibold text-gray-500">Po zapisaniu swojej trasy możesz udostępnić ją udostępnić innym użytkownikom, aby mogli ją zobaczyć i wykorzystać.</p>
            </div>
        </div>
    </div>
</div>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
