@model CityExplorer.Models.Landmark
@{
}

<form class="w-40" asp-action="Add" method="post" enctype="multipart/form-data">
    <h2 class="pb-10">Dodaj zabytek</h2>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Nazwa</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Name"> </span>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label">Zdjęcie</label>
        <input type="file" asp-for="ImageFile">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="ImageFile"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Categories" class="control-label">Kategoria</label>
        <select asp-items="Model.CategoryList" class="form-control" asp-for="Categories" multiple></select>
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Categories"> </span>
    </div>

    <div class="form-group">
        <label asp-for="TourDuration" class="control-label">Czas zwiedzania</label>
        <input type="text" class="form-control" asp-for="TourDuration">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="TourDuration"> </span>
    </div>
    
    <div class="form-group">
        <label asp-for="Latitude" class="control-label">Szerokość geograficzna</label>
        <input type="number" step="0.00000000001" class="form-control" asp-for="Latitude">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Latitude"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Longitude" class="control-label">Długość geograficzna</label>
        <input type="number" step="0.00000000001" class="form-control" asp-for="Longitude">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Longitude"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Opis</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="Description"> </span>
    </div>

    <div class="form-group">
        <label asp-for="OpeningHours" class="control-label">Godziny otwarcia</label>
        <input type="text" class="form-control" asp-for="OpeningHours">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="OpeningHours"> </span>
    </div>
    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" class="form-control" asp-items="ViewBag.City"></select>
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="CityId"> </span>
    </div>
    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" class="form-control" asp-items="ViewBag.Country"></select>
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="CityId"> </span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 ..." type="submit">Save</button>
        <a class="btn btn-sec" href="/Landmark/LandmarkList">All records</a>
    </div>
</form>
