<h1>ADMIN PANEL</h1>
<li>
<button onclick="location.href='@Url.Action("UsersList", "Administrator")'">Show list of all users</button>
<button onclick="location.href='@Url.Action("GetAll", "Category")'">Show list of all categories</button>
<button onclick="location.href='@Url.Action("GetAll", "City")'">Show list of all cities</button>
</li>