<h1>ADMIN PANEL</h1>
<li>
<button onclick="location.href='@Url.Action("RoleManager", "Administrator")'">Go to Role Manager</button>
<button onclick="location.href='@Url.Action("UserRoles", "Administrator")'">Go to Users Manager</button>
<button onclick="location.href='@Url.Action("UsersList", "Administrator")'">Show list of all users</button>
</li>